@(images: Seq[Image])

<style>
        .imageBox {
            padding-left: 0;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .notClicked {
            border: 5px solid red;
        }

        .clicked {
            border: 5px solid rgb(12, 238, 23);
        }
</style>


<section>
    <h1>Image puzzle</h1>
    <br>
    <div class="imageBox" id="imageBox">
        <p> Click on all images that correspond to the keyword <b> KEYWORD </b> </p>
        @for(image <- images) {
            <img src="@routes.Assets.versioned(image.fileName)" alt="Image" id="@image.id" class="notClicked" height="100" width="100" onclick="onImageClick(event)">
            }
        </div>
    <input type="submit" value="I have chosen all images. Give me points!" onclick="postPuzzle('KEYWORD')">
    <br>
    <br>
    <a href="@routes.ImageController.manageImages()">Add images here!</a>

</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="@routes.Assets.versioned("javascripts/main.js")"></script>

