@(images: Seq[Image])

<section>
    <h1>Dat image manager</h1>
    <p>Your images : </p>
    <ul>
        @for(image <- images) {
            <li>@image.id : @image.fileName</li>
        }
    </ul>
</section>
<section>
    Add your <strong>OWN</strong> image!*
    <!-- You may need to compile the application so the IDE will recognize the "postStudent" route. -->
    <form class="form-post-image" method="post" action="@routes.HomeController.postImage">
        <p>
            <label for="fileName">File name</label>
            <br/>
            <input type="text" name="fileName" id="fileName">
        </p>
        <p>
            <input type="submit" value="Create Image!">
        </p>
    </form>
    <br/>
    <a href="@routes.HomeController.about()">About...</a>
</section>